<h1>lets learn about the signs</h1>

<ul>
    <li><a href='/air'>air signs</a></li>
    <li><a href='/fire'>fire signs</a></li>
    <li><a href='/water'>water signs</a></li>
    <li><a href='/earth'>earth signs</a></li>
</ul>